@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* body{
  height: 100vh;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

div::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
  z-index: 2;
  position: absolute;
}
div::-webkit-scrollbar-track {
  background: transparent;      /* color of the tracking area */
  background-clip: border-box;
  position: relative;
}

div::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);    /* color of the scroll thumb */
      /* roundness of the scroll thumb */
  border: none;  /* creates padding around scroll thumb */
  background-clip: border-box;
  border-image-width: 1;
  min-height: 30px;
  position: absolute;
  transform: matrix(1, 0, 0, 1, 0, 0);
  height: 180px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}