@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

div::-webkit-scrollbar {
  width: 12px;
  z-index: 2;
  position: absolute;
}
div::-webkit-scrollbar-track {
  background: transparent;
  background-clip: border-box;
  position: relative;
}

div::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  background-clip: border-box;
  border-image-width: 1;
  min-height: 30px;
  position: absolute;
  transform: matrix(1, 0, 0, 1, 0, 0);
  height: 180px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media screen and (max-width: 1024px) {
  div::-webkit-scrollbar {
    width: 6px;
  }
  div::-webkit-scrollbar-thumb{
    min-height: 20px;
    height: 100px;
    border-radius: 0;
  }
}